# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Maven
target/
generated/
*.flattened-pom.xml

# IntelliJ
.idea/
*.swp
*.iml
*.iws
*.ipr
atlassian-ide-plugin.xml
